html {
    height: 100%;
}

body {
    /*height: 100%;*/
    padding: 52px 0px 0px 0px ;
}

.semMarge { 
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}




.text-pequino {
    font-size: 12px;
}

.tamanho-radio {
    width: 35%;
}





#map_canvas {                
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}


#calunaDireita {
    /*height: 2%;*/
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px; 
    /*    float: right*/
}

#menuDireito {      
    width: 100%;
    height: 70%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    overflow-y: scroll;
}

#legenda {
    height: 18%;
    border-top:2px solid #FFFFFF;
}


#menuDireito p {
    font-size: 11px;
    text-align: justify;
}

.tituloProblema {
    font-size: 14px;
    color: #777;
}

footer {
    text-align: center;
}



.window{
    display:none;
    width:300px;
    height:400px;
    position:absolute;
    left:0;
    top:0;
    background:#FFF;
    z-index:9900;
    padding:10px;
    border-radius:10px;
}

#mascara{
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
    display:none;
}

.fechar{display:block; text-align:right;}




.faixa1 {
    background-color: #f9f9f9;
    margin: 0px 0px 0px 0px;
    padding: 2px 2px 2px 2px;

}

.faixa1:hover {
    background-color: #e5e5e5;
    cursor: pointer;

}

.faixa0 {
    background-color: #ffffff;
    margin:  0px 0px 0px 0px;
    padding: 2px 2px 2px 2px;
}

.faixa0:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}


/* Move down content because we have a fixed navbar that is 50px tall */


/*
 * Sidebar
*/

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        /*left: 0;*/
        right: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;  /*Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}


/*
 * Main content
*/

.main {
    padding: 0px;

}
@media (min-width: 768px) {
    .main {
        padding-right: 0px;
        padding-left: 0px;
    }
}
.main .page-header {
    margin-top: 0;
}

    /* =============== Estilos do autocomplete =============== */
    
    .ui-helper-hidden-accessible {
        display: none;
    }
    
    .ui-autocomplete { 
        background: #fff; 
        border-top: 1px solid #ccc;
        cursor: pointer; 
        font: 15px 'Open Sans',Arial;
        margin-left: 1px;
        width: 300px !important;
        position: fixed;
    }

    .ui-autocomplete .ui-menu-item { 
        list-style: none outside none;
        padding: 7px 0 9px 10px;
    }

    .ui-autocomplete .ui-menu-item:hover { background: #eee }

    .ui-autocomplete .ui-corner-all { 
        color: #666 !important;
        display: block;
    }