/* 
    Document   : styleAdmin
    Created on : 09/04/2013, 23:14:09
    Author     : Teste
    Description:
        Purpose of the stylesheet follows.
*/



html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0px 0px 0px 0px;
}

#tela {
    height: 100%;
    background-color: #fcfcfc;
}

#menu {
    height: 10%;
    background-color: #eee;
} 

#mapa {
/*    background-color: #ffffff;*/
    height: 90%;
    width: 100%;
    float: left;
}

/*#barraLateral {
    background-color: #46a546;
    height: 90%;
    width: 20%;
    float: right;
}*/

